/*created variables for all repeated styles I noticed*/
:root {
    --main-bg: #fff;
    --font-black: #000;
    --alternate-bg: #F2F2F2;
}

/*The font will be universal for the entire page*/
body {
    font-family: 'Inter';
    margin: 1px;
    padding: 0;
}

/*removes odd purple dash that appeared around images that had interactable links*/
a {
    text-decoration: none;
}







/*NAV BAR*/
/*I used justify-space-between to create 3 different sections for my nav bar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
    padding-left: 10%;
    padding-right: 10%;
}

/*This sets my 'center' elements on the same horizontal row instead of a column*/
nav ul li {
    display: inline-block;
    padding: 10px;
}

/*removing the default list stylings for the li and p anchor tags and setting my own*/
nav ul li a, nav p a  {
    color: var(--font-black);
    text-decoration: none;
}

/*creating a border unique to this nav bar element, to accentuate the contact button*/
nav p {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 5px
}








/*TITLE PAGE*/
/*setting my desired size and properties for the initial 'title page' section of my website
and centering the text elements (my title) vertically and horizontally*/
.title {
    width: 100%;
    height: 959px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*setting the size of my 'title' header and adjusting the height to compensate for the excess
nav bar and chrome address bar to make it more aesthetic */
.title h2 {
    font-size: 72px;
    text-align: center;
    transform: translateY(-200%);
}

/*setting the sub heading styles and position*/
.title p {
    position: absolute;
    transform: translateY(-200%);
    font-size: 24px;
}

/*setting the size and position for my arrow svg*/
.arrow {
    height: 40px;
    width: 40px;
    transform: translateY(50px)
}







/*ABOUT ME PAGE*/
/*setting the size of the about-me, experience, and contact tab*/
.about-me {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 685px;
}

.about-me {
    background-color: var(--alternate-bg);
}

/*positioning and sizing a 'header' section seperate to my header in order to position the actual header,
and create the appropriate size for the decorative line I implement in the next bit of code*/
.about-me-header, .experience-header, .projects-header, .contact-header {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(120px);
    width: 930px;
}

/*this is a method i found on the internet to create a line that is vertically centered through my about me header, for decoration*/
.about-me-header::after, .experience-header::after, .projects-header::after, .other-projects-header::after, .contact-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    left: 0;
    right: 0;
    top: 50%;
}

/*Styling the text of the header, and setting a background + z index of 1 to have a break in the decorative line*/
.about-me-header h3, .experience-header h3, .projects-header h3, .other-projects-header h3, .contact-header h3 {
    z-index: 1;
    padding: 0 20px;
    text-align: center;
    font-size: 36px;
}

.about-me-header h3, .projects-header h3, .other-projects-header h3{
    background-color: var(--alternate-bg);
}

.experience-header h3, .contact-header h3 {
    background-color: var(--main-bg);
}

/*setting the size and property of the parent container of my biography/introduction paragraph and picture of me*/
.about-me-container {
    position: absolute;
    display: flex;
    height: 351px;
    width: 930px;
    justify-content: space-between;
    transform: translateY(214px);
}

/*setting the size of the parent container of the actual text so I can format it to the desired size*/
.info {
    height: 351 px;
    width: 551px;
}

/*styling the actual text of my introduction*/
.info p {
    padding: 10px;
    font-size: 16px;
    line-height: 160%;
}

/*setting the size of my image, and the position property to relative, this automatically pushes it to the right hand 
side of the article container, using the justify: space-between property*/
article img {
    border-radius: 5px;
    position: relative;
    height: 300px;
    width: 300px;
}





/*EXPERIENCE PAGE*/
.experience {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 785px;
    background-color: var(--main-bg);
}

.experience-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(214px);
    width: 930px;
    height: 398px;
}
.first-job-container, .second-job-container {
    height: 174px;
    width: 100%;
}

.second-job-container{
    transform: translateY(48px)
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 10px;
   
    border-bottom: 1px solid black;
    height: 116px;
    width: 196px;
}

.header-container h3{
    text-align: center;
    margin-bottom: 5px;
    font-size: 24px;
}

.header-container header p {
    font-size: 14px;
    text-align: right;
    margin: 10px;
    line-height: 1.5;
}

.first-job-subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 76px;
    width: 196px;
    font-size: 14px;
}

.first-job-subheader p {
    margin-bottom: 25px;
}

.list-container {
    position: absolute;
    height: 174px;
    width: 708px;
    border-left: 1px solid black;
    transform: translateY(-184px) translateX(220px);
}

.list-container ul {
    list-style-type: disc;
    padding-left: 40px;
    padding-top:10px;
    line-height: 27px;
}









/*PROJECT PAGE - MAIN PROJECT SECTION*/
.projects {
    background-color: var(--alternate-bg);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1100px;
}

.projects-container {
    display: flex;
    position: relative;
    width: 930px;
    height: 249px;
    transform: translateY(170px);

}

.projects-container img {
    height: 249px;
    width: 455px;
    border-radius: 5px;
}

.first-project-description {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    transform: translateX(52%) translateY(215px);
    height: 166px;
    width: 455px;
    
}

.first-project-description h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.first-project-description p {
    line-height: 27px;
    font-size: 16px;
    margin-bottom: 10px;
}

.sub-description  {
    padding: 10px;
    transform: translateX(63px) translateY(100px)

}

.github-icon img {
    position: relative;
    height: 25px;
    width: 25px;
    left: 20px;
    top: 100px;
}

.link-icon img {
    position: relative;
    height: 25px;
    width: 25px;
    left: 50px;
    top: 73px;
}









/*OTHER PROJECTS SECTION*/
.other-projects-header {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(180px);
    width: 930px;
}

.other-projects-container {
    height: 425px;
    width: 930px;
    transform: translateY(230px);
}

.project1-container {
    height: 212.5px;
    width: 465px;
}

.project1-container img {
    position: relative;
    height: 95px;
    width: 95px;
    border-radius: 0;
}

.project1-subcontainer {
    position: absolute;
    height: 93px;
    width: 355px;
    transform: translateX(15px);
    border-bottom: 1px solid black;
}

.subcontainer-header h3 {
    margin-top: 10px;
    font-size: 24px;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.project1-container p {
    position: absolute;
    padding-top: 10px;
    padding-left: 15px;
    transform: translateX(100px);
}

.project1-subcontainer p {
    font-size: 14px;
    padding: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    line-height: 23.8px;
    transform: translateX(0px)
}

.project1-github img {
    height:25px;
    width: 25px;
    transform: translateY(65px) translateX(12.5px)
}

.project1-link img {
    height:25px;
    width: 25px;
    transform: translateY(65px) translateX(12.5px);
}








/*CONTACT PAGE*/
.contact {
    border: 1px solid black;
    background-color: var(--main-bg);
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
}

.contact-container {
    position: absolute;
    height: 369px;
    width: 550px;
    transform: translateY(215px);
}

.contact-container p {
    padding: 5px;
    text-align: center;
    line-height: 27px;
}

.linkedin img {
    height: 40px;
    width: 40px;
    transform: translateY(300px)
}

.github img {
    height: 40px;
    width: 40px;
    transform: translateY(300px)
}

.gmail img {
    height: 40px;
    width: 40px;
    background: none;
    transform: translateY(300px)
}

